<app-header></app-header>
<!-- Header Two -->
<div class="header_two">
   <span style="margin-left: 6%;font-size: 20px;font-weight: 600;">Jobby</span>
   <ul class="Menu1">
      <a [routerLink]="['/landing_page']" ><li class="Menu_List1 ">Home</li></a>
      <a [routerLink]="['/Job_Search']"><li class="Menu_List1">Find Jobs</li></a>
      <!-- <li class="Menu_List1">Find Work</li> -->
      <a [routerLink]="['/Company_List']"><li class="Menu_List1 " [routerLinkActive]="'active'" >Find Companies</li></a>
      <!-- <li class="Menu_List1">Find FreeLancers</li>
      <li class="Menu_List1">pages</li> -->
      <span class="search"><i class="material-icons">search</i></span>
      <!-- <button mat-raised-button color="warn">Warn</button> -->
      <a [routerLink]="['/registration']"  ><span class="post"><button>JOB SEEKER</button></span></a>
      <a [routerLink]="['/Employer_Registration']"><span class="task"><button>EMPLOYER</button></span></a>
   </ul>
</div>
<!-- Header Three -->
<div class="header_three">
   <div class="left_content">
      <p>Sign In</p>
   </div>
   <div class="right_content">
      <p><a [routerLink]="['/landing_page']"><span>Home</span></a>/Sign In</p>
   </div>
</div><br><br>
<!-- Sign In Details -->
<div class="Sign_In_Details">
   <div class="container">
      <div class="row">
         <div class="col-sm-6 signin_Details">
            <h5>Sign in to Jobby</h5>
            <div style="border-bottom: 3px solid #ff4500;width:50px;text-align:center;margin-left:30%"></div><br><br>
            <form [formGroup]="Form">
               <div class="row">
                  <div class="col-sm-12" [ngClass]="{'Form_Err': !Form.controls['Email_Id'].pristine && Form.controls['Email_Id'].errors, 'Form_Success': Form.controls['Email_Id'].valid && !Form.controls['Email_Id'].pristine }">
                     <label>Email Address</label><br>
                     <input type="text" formControlName="Email_Id" placeholder="Enter Email Address">
                     <p class="error" style="color: rgb(221, 10, 10);margin-left:15px;margin-bottom: 20px" *ngIf="Form.controls['Email_Id'].errors && !Form.controls['Email_Id'].pristine">
                        <span *ngIf="Form.controls['Email_Id'].errors.required">Email Id is required</span>
                     </p>    
                  </div>
                  <div class="col-sm-12" [ngClass]="{'Form_Err': !Form.controls['Password'].pristine && Form.controls['Password'].errors, 'Form_Success': Form.controls['Password'].valid && !Form.controls['Password'].pristine }">
                     <label>Password</label><br>
                     <input type="text" formControlName="Password" placeholder="Enter Password">
                     <p class="error" style="color: rgb(221, 10, 10);margin-left:15px;margin-bottom: 20px" *ngIf="Form.controls['Password'].errors && !Form.controls['Password'].pristine">
                        <span *ngIf="Form.controls['Password'].errors.required">Password is required</span>
                     </p>  
                  </div>
               </div>
            </form><br>
            <div class="Sign_In_Button">
               <a (click)="submit()"><button class="sign_in_button">SIGN IN NOW</button></a>
            </div>
            <div class="forget_password">
               <span class="account">Need an account? <a [routerLink]="['/Employer_Registration']" ><span class="join">Join Us Now >></span></a> </span><span class="forget">Forget Password?</span>
               <span></span>
            </div>
         </div>
         <div class="col-sm-6 Image_Section">
            <img src="../../../../assets/Images/sign-in.png">
         </div>
      </div>
   </div>
</div><br><br>
<!-- Footer -->
<div class="footer">
   <div class="email_section">
      <div class="news">
         <p class="news_heading">Subscribe To News Letter</p>
         <p class="news_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="email">
         <input type="text" placeholder="Your Email Address">
         <span><button>Subscribe</button></span>
      </div>
   </div>
   <div class="link_section">
      <span class="about">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">About Us</li><br>
            <li>Login</li>
            <li>My Account</li>
            <li>Contact</li>
            <li>Privacy Policy</li>
            <li>Terms Of Use</li>
         </ul>
      </span>
      <span class="for_companies">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">For Companies</li><br>
            <li>Browse Freelancers</li>
            <li>Post a Job</li>
            <li>Post a Project</li>
            <li>Pricing Plans</li>
         </ul>
      </span>
      <span class="for_candidates">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">For Candidates</li><br>
            <li>Browse Jobs</li>
            <li>Jobs Alerts</li>
            <li>Applied Jobs</li>
            <li>Bookmarks</li>
         </ul>
      </span>
   </div>
   <div class="copyright_section">
      <div class="copyright">
         <p>@ copyright 2018 Jobby by aashi.All Rights Reserved.</p>
      </div>
      <div class="links">
         <ul>
            <li>EN</li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
         </ul>
      </div>
   </div>
</div>


