/* Header Two */
.header_two{
   width: 100%;
   height: 45px;
   background-color: #ffffff;
   margin-top: 5px;
}
.header_two .Menu1{
   display: inline-flex;
   list-style-type: none;
   margin-left: 15%
}
.header_two .Menu_List1{
   margin-right: 35px;
   color: #464242;
   font-size: 15px;
   font-weight: 600;
   font-family: roboto, sans-serif;
}
.header_two .search i{
   margin-top:5px;
   font-size: 23px;
   font-weight: 500;
   color: #FF4500;
}
/* Header Three */
.header_three{
   width:100%;
   height:50px;
   background-image: url('../../../../assets/Images/background.jpg');
   opacity: 0.8;
   display: inline-flex
}
.header_three .left_content{
   width: 50%;
}
.header_three .left_content p{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-left: 70px;
   margin-top: 16px;
}
.header_three .right_content{
   width: 50%;
}
.header_three .right_content p{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   float: right;
   margin-top: 16px;
   margin-right: 110px;
}
.header_three .right_content p span{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-top: 16px;
   cursor: pointer;
}
/* Filters */
.Filters .filters .header{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 25px;
}
.Filters .filters .header img{
   width: 100px;
   margin-left: 75px;
}
.Filters .filters .header p{
   font-size: 17px;
   font-weight: 700;
   color: #212020;
   margin-top: 10px;
   padding: 0px 20px;
   margin-left: 50px;
   font-family: roboto,sans-serif;
}
.Filters .filters .header .contact{
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 9px 29px;
   border-radius: 2px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-left: 73px;
   box-shadow: 2px 2px 3px #989595;
   font-family: roboto,sans-serif;
}
.Filters .filters .Websites p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding:0px 5px;
   margin-left: 4px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Websites .websites{
   list-style-type: none;
}
.Filters .filters .Websites .websites li{
   font-size: 14px;
   font-weight: 500;
   color: #a0a0a0;
   margin-bottom: 10px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Websites .websites li i{
   font-size: 14px;
   font-weight: 500;
   padding: 0px 2px;
}
.Filters .filters .Websites .websites{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 10px;
   width: 109%;
   margin-left: -17px;
   padding-left: 19px;
}
.Filters .filters .Profile_Completeness p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding:0px 5px;
   margin-bottom:5px;
   font-family: roboto,sans-serif;
}
.Filters .filters .profile_completeness{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 10px;
   width: 109%;
   margin-left: -17px;
   padding: 25px 30px
}
.Filters .filters .Rating p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding: 0px 5px 19px 5px;
   margin-bottom: 0px;
   font-family: roboto,sans-serif;
}
.Filters .filters .rating{
   width: 100%;
   margin-top: -35px;
   padding: 15px 51px;
   float: right;;
}
.Filters .filters .rating .stars{
   margin-top: 17px;
}
.Filters .filters .rating .stars .star{
   color: #ff4500;
}
.Filters .filters .Location p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding:0px 5px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Location p span{
   font-size: 15px;
   font-weight: 500;
   color: #c1b8b8;
   float: right;
   padding:0px 25px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Location p i{
   font-size: 16px;
   font-weight: 500;
   padding: 0px 5px;
}
.Filters .filters .Location .location img{
   width: 220px;
   height: 120px
}
.Filters .filters .Location .location .left_content p{
   font-size: 15px;
   font-weight: 600;
   color: #1b1919;
}
.Filters .filters .Location .location .right_content p{
   font-size: 15px;
   font-weight: 500;
   color: #a29c9c;
}
.Filters .filters .location{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 10px;
   width: 109%;
   margin-left: -17px;
   padding: 25px 30px
}
.Filters .filters .Social_Account p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: -35px;
   padding: 0px 5px;
}
.Filters .filters .Social_Account p i{
   font-size: 16px;
   font-weight: 500;
   padding: 0px 5px;
   color: #484646;
}
.Filters .filters .Social_Account .facebook{
   margin-top: -43px;
   border: 1px solid #dccaca;
   border-radius: 50px;
   width: 245px;
   height: 35px;
   margin-left: 6px;
   padding: 5px 45px;
   font-size: 16px;
   font-weight: 500;
   color: #948c8c;
}
.Filters .filters .Social_Account .twitter{
   margin-top: -43px;
   border: 1px solid #dccaca;
   border-radius: 50px;
   width: 245px;
   height: 35px;
   margin-left: 6px;
   padding: 5px 45px;
   font-size: 16px;
   font-weight: 500;
   color: #948c8c;
}
.Filters .filters .Social_Account .linkedin{
   margin-top: -39px;
   border: 1px solid #dccaca;
   border-radius: 50px;
   width: 245px;
   height: 35px;
   margin-left: 6px;
   padding: 5px 45px;
   font-size: 16px;
   font-weight: 500;
   color: #948c8c;
}
.Filters .filters .Social_Account .facebook_icon {
   padding: 0px 1px;
}
.Filters .filters .Social_Account .facebook_icon img{
   width: 50px;
   height: 50px;
}
.Filters .filters .Social_Account .twitter_icon {
   padding: 0px 1px;
}
.Filters .filters .Social_Account .twitter_icon img{
   width: 50px;
   height: 50px;
}
.Filters .filters .Social_Account .linkedin_icon {
   padding: 0px 1px;
}
.Filters .filters .Social_Account .linkedin_icon img{
   width: 45px;
   height: 45px;
}
.progress {
   display: flex;
   height: 4px;
   overflow: hidden;
   background-color: #e9ecef;
   border-radius: 1.25rem;
}
.progress-bar{
   background-color: #ff4500;
}
.one, .two, .three{
   position:absolute;
  margin-top:-10px;
  z-index:1;
  height:40px;
  width:40px;
  border-radius:25px;
  
}
.one{
   left: 73%;
   position: absolute;
   margin-top: -3px;
   z-index: 1;
   height: 10px;
   width: 10px;
   border-radius: 25px;
}
.two{
  left:50%;
}
.three{
  left:75%;
}
.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#ff4500;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
  background-color:inherit;
}

/* Tabs */
.main_header .Tabs{
   display: flex;
   width: 100%;
   list-style-type:none;
   margin-left:30px;
}
.Tabs .Tab{
   width: 14%;
   line-height: 45px;
   margin-top: -10px;
   text-align: center;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: 0.4px;
   font-family: roboto,sans-serif;
}
.Tabs .Tab:hover{
   background-color:  #ff4500;
   color:#fff;
}

.Tabs .Tab.active{
   border-bottom: 2px solid #ff4500;
   color: #181918;
   cursor: default;
   margin-right: 5px;
}
.Tabs select{
   height: 39px;
   border: 1px solid #ececec;
   border-radius: 3px;
   outline: none;
   padding: 0px 4px;
}
.Tabs li .grid{
   font-size: 15px;
   font-weight: 500;
   border: 1px solid #b5aeae;
   border-radius: 50%;
   padding: 5px 5px;
   color: #696666;
   margin-top:8px;
}
.Tabs li .menu{
   font-size: 15px;
   font-weight: 500;
   border: 1px solid #ff4500;
   background-color: #ff4500;
   border-radius: 50%;
   padding: 5px 5px;
   color: #fff;
   margin-top:8px;
}
.post button{
   background-color: #FF4500;
   border: 1px solid #FF4500;
   padding: 5px 17px;
   border-radius: 3px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   cursor: pointer;
   margin-left: 20px;
   box-shadow: 2px 2px 3px #989595;
   font-family: roboto,sans-serif;
}
.Content_Section {
   border: 1px solid #e4d8d8;
   padding: 10px 35px;
   margin-left:30px;
}
.Content_Section .Content_Header{
   border-bottom: 1px solid #e4dfdf;
   margin-left: -35px;
   width: 110%;
}
.Content_Section .Content_Header p{
   margin-left: 35px;
   font-size: 16px;
   font-weight: 600;
   color: #525252;
   font-family: roboto,sans-serif;
}
.Content_Section .Content{
   font-size: 14px;
   font-weight: 500;
   color: #c1bfbf;
   margin-top: 15px;
}
a{
   text-decoration: none;
   outline:none;
   color:#fff;
}

.Skills_Section {
   border: 1px solid #e4d8d8;
   padding: 10px 35px;
   margin-left:30px;
}
.Skills_Section .Skills_Header{
   border-bottom: 1px solid #e4dfdf;
   margin-left: -35px;
   width: 110%;
   font-family: roboto,sans-serif;
}
.Skills_Section .Skills_Header p{
   margin-left: 35px;
   font-size: 16px;
   font-weight: 600;
   color: #525252;
}
.Skills_Section .buttons{
   margin-top:10px;
   display: inline-flex;
}
.ux{
   margin-right: 10px;
   outline: none;
   padding: 3px 18px;
   border-radius: 15px;
   border: none;
}
.ux span{
   font-size: 13px;
   font-weight: 500;
   color: #8a8585;
}
.ux:hover{
   box-shadow: 2px 2px 4px #ababab;
}
.Language_Section {
   border: 1px solid #e4d8d8;
   padding: 10px 35px;
   margin-left:30px;
}
.Language_Section .Language_Header{
   border-bottom: 1px solid #e4dfdf;
   margin-left: -35px;
   width: 110%;
   font-family: roboto,sans-serif;
}
.Language_Section .Language_Header p{
   margin-left: 35px;
   font-size: 16px;
   font-weight: 600;
   color: #525252;
}
.Language_Section .buttons{
   margin-top:10px;
}

.english  {
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 5px 11px;
   border-radius: 40px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-bottom: 3px;
}
.english:hover{
   box-shadow: 2px 2px 4px #ababab;
}
.punjabi  {
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 5px 11px;
   border-radius: 40px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-bottom: 3px;
   margin-left: 20px;
}
.punjabi:hover{
   box-shadow: 2px 2px 4px #ababab;
}
.hindi  {
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 5px 11px;
   border-radius: 40px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-bottom: 3px;
   margin-left: 20px;
}
.hindi:hover{
   box-shadow: 2px 2px 4px #ababab;
}

/* Footer */
.footer{
   width: 100%;
   height: 400px;
   border: 1px solid #242424;
   background-color: #242424;
}
.email_section{
   display: inline-flex;
   width: 100%;
   border-bottom: 1px solid #403f3f;
   padding: 15px;
}
.news{
   width: 50%;
   margin-left: 15%;
}
.news .news_heading{
   color:#9c9898;
   font-size: 17px;
   font-weight: 500;
   margin-top: 25px;
   margin-bottom: 0px;
   font-family: roboto, sans-serif;
}
.news .news_content{
   color: #9c9898;
   font-size: 16px;
   margin-bottom: 0px;
   font-family: roboto, sans-serif;
}
.email{
   width: 50%;
}
.email input{
   width: 65%;
   height: 41px;
   margin-top: 25px;
   outline: none;
   border-radius: 2px;
   border: 1px solid #fff;
   padding: 5px 20px;
   font-size: 14px;
   font-weight: 500;
   color: #6d6666;
   font-family: roboto, sans-serif;
}
.email button{
   height: 35px;
   background-color: #ff430b;
   border: 1px solid #ff430b;
   padding: 5px 10px;
   border-radius: 3px;
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-left: -81px;
   font-family: roboto, sans-serif;
   outline:none;
}
.link_section{
   width: 100%;
   display: inline-flex;
   border-bottom: 1px solid #403f3f;
   padding: 15px;
}
.about{
   width: 30%;
   margin-left: 125px;
}
.about ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.about li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.for_companies{
   width: 30%;
}
.for_companies ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.for_companies li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.for_candidates{
   width: 30%;
}
.for_candidates ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.for_candidates li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.copyright_section{
   display: inline-flex;
   width: 100%;
}
.copyright_section .copyright{
   width: 50%;
}
.copyright p{
   color: #9c9898;
   margin-top: 20px;
   margin-left: 75px;
   font-size: 13px;
   font-weight: 500;
}
.links{
   width:50%;
   margin-left: 35%;
}
.links ul{
   display: inline-flex;
   list-style-type: none;
   margin-top: 20px;
}
.links ul li{
   color: #9c9898;
   font-size: 13px;
   margin-right: 30px;
   font-family: roboto, sans-serif;
}

