/* Header Two */
.header_two{
   width: 100%;
   height: 45px;
   background-color: #ffffff;
   margin-top: 5px;
}
.header_two .Menu1{
   display: inline-flex;
   list-style-type: none;
   margin-left: 15%
}
.header_two .Menu_List1{
   margin-right: 35px;
   color: #464242;
   font-size: 15px;
   font-weight: 600;
   font-family: roboto, sans-serif;
}
.header_two .search i{
   margin-top:5px;
   font-size: 23px;
   font-weight: 500;
   color: #FF4500;
}
/* Header Three */
.header_three{
   width:100%;
   height:50px;
   background-image: url('../../../../assets/Images/background.jpg');
   opacity: 0.8;
   display: inline-flex
}
.header_three .left_content{
   width: 50%;
}
.header_three .left_content p{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-left: 70px;
   margin-top: 16px;
}
.header_three .right_content{
   width: 50%;
}
.header_three .right_content p{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   float: right;
   margin-top: 16px;
   margin-right: 110px;
}
.header_three .right_content p span{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-top: 16px;
   cursor: pointer;
}
/* Filters */
.Filters .filters{
   border: 1px solid #d6caca;
   height: 1004px;
   box-shadow: 0px 4px 6px 0px #cecccc;
}
.Filters .filters .header{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 10px;
   width: 113%;
   margin-left: -17px;
   padding-left: 19px
}
.Filters .filters .header p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding: 0px 4px;
   font-family: roboto,sans-serif;
}
.Filters .filters .header p span{
   font-size: 15px;
   font-weight: 500;
   color: #c1b8b8;
   padding: 0px 15px;
   margin-left: 92px;
   font-family: roboto,sans-serif;
}
.Filters .filters .skills p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding:0px 5px;
   font-family: roboto,sans-serif;
}
.Filters .filters .skills p span{
   font-size: 15px;
   font-weight: 500;
   color: #c1b8b8;
   float: right;
   padding:0px 25px;
   font-family: roboto,sans-serif;
}
.Filters .filters .skills input{
   width: 100%;
   height: 35px;
   border: 1px solid #ececec;
   border-radius: 3px;
   outline: none;
   margin-bottom: 10px;
   padding: 5px 5px;
   font-size: 14px;
   font-weight: 500;
   color: #6d6666;
}
.Filters .filters .skills input::placeholder{
   font-size:13px;
   font-weight:500;
   color:#beb9b9;
}
.Filters .filters .skills .buttons{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 30px;
   width: 113%;
   margin-left: -17px;
   padding-left: 19px;
}
.Filters .filters .skills .ux{
   margin-right: 10px;
   outline: none;
   padding: 3px 18px;
   border-radius: 15px;
   border: 1px solid #d0cbcb;
   background-color: #e8e6e6;
}
.Filters .filters .skills .ux span{
   font-size: 13px;
   font-weight: 500;
   color: #8a8585;
}
.Filters .filters .skills .ui{
   margin-right: 10px;
   outline: none;
   padding: 3px 18px;
   border-radius: 15px;
   border: 1px solid #d0cbcb;
   background-color: #e8e6e6;
}
.Filters .filters .skills .ui span{
   font-size: 13px;
   font-weight: 500;
   color: #8a8585;
}
.Filters .filters .skills .photoshop{
   margin-right: 10px;
   outline: none;
   padding: 3px 18px;
   border-radius: 15px;
   border: 1px solid #d0cbcb;
   background-color: #e8e6e6;
}
.Filters .filters .skills span{
   font-size: 13px;
   font-weight: 500;
   color: #8a8585;
}
.Filters .filters .Availability p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding:0px 5px;
}
.Filters .filters .Availability p span{
   font-size: 15px;
   font-weight: 500;
   color: #c1b8b8;
   float: right;
   padding:0px 25px;
}
.Filters .filters .Availability .availability{
   list-style-type: none;
   margin-left: -37px;
}
.Filters .filters .Availability .availability li{
   font-size: 14px;
   font-weight: 500;
   color: #a0a0a0;
   margin-bottom: 10px;
}
.Filters .filters .Availability .availability li i{
   font-size: 14px;
   font-weight: 500;
   color: #ff4500;
   padding: 0px 2px;
}
.Filters .filters .Availability .availability{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 10px;
   width: 113%;
   margin-left: -17px;
   padding-left: 19px;
}
.Filters .filters .Job_Type p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding:0px 5px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Job_Type p span{
   font-size: 15px;
   font-weight: 500;
   color: #c1b8b8;
   float: right;
   padding:0px 25px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Job_Type select{
   width: 89%;
   height: 39px;
   border: 1px solid #ececec;
   border-radius: 3px;
   outline: none;
   padding: 7px 5px;
}
.Filters .filters .job_type{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 10px;
   width: 113%;
   margin-left: -17px;
   padding: 10px 30px
}
.Filters .filters .Experience_Level p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding:0px 5px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Experience_Level p span{
   font-size: 15px;
   font-weight: 500;
   color: #c1b8b8;
   float: right;
   padding:0px 25px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Experience_Level select{
   height: 39px;
   border: 1px solid #ececec;
   border-radius: 3px;
   outline: none;
   padding: 7px 5px;
}
.Filters .filters .experience_level{
   border-bottom: 1px solid #ded9d9;
   margin-bottom: 30px;
   padding-bottom: 10px;
   width: 113%;
   margin-left: -17px;
   padding: 10px 30px;
}
.Filters .filters .Location p{
   font-size: 15px;
   font-weight: 600;
   color: #212020;
   margin-top: 13px;
   padding:0px 5px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Location p span{
   font-size: 15px;
   font-weight: 500;
   color: #c1b8b8;
   float: right;
   padding:0px 25px;
   font-family: roboto,sans-serif;
}
.Filters .filters .Location input{
   width: 100%;
   height: 35px;
   border: 1px solid #ececec;
   border-radius: 3px;
   outline: none;
   margin-bottom: 10px;
   padding: 5px 5px;
   font-size: 14px;
   font-weight: 500;
   color: #6d6666;
}
.Filters .filters .Location input::placeholder{
   font-size:13px;
   font-weight:500;
   color:#beb9b9;
}
.Search_Now .search_now{
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 9px 50px;
   border-radius: 2px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-left: -16px;
   width: 113%;
   font-family: roboto,sans-serif;
}

/* Main Header */
.Jobs .Main_Header {
   border: 1px solid #ff4500;
   background-color: #ff4500;
   width: 100%;
   display: inline-flex;
   margin-left: 15px;
}
.Jobs .Main_Header .image_section{
   width: 20%;
}
.Jobs .Main_Header .image_section img{
  padding: 0px 10px;
}
.Jobs .Main_Header .content_section{
   width: 60%;
}
.Jobs .Main_Header .content_section .upgrade{
   font-size: 15px;
   font-weight: 500;
   color: #fff;
   margin-bottom: 3px;
   margin-top: 13px;
   font-family: roboto,sans-serif;
}
.Jobs .Main_Header .content_section .unlimited_jobs{
   font-size: 14px;
   color: #fff;
   font-family: roboto,sans-serif;
}
.Jobs .Main_Header .button_section{
   width:20%;
}
.Jobs .Main_Header .button_section .upgrade_plan{
   background-color: #ff4500;
   border: 1px solid #dedbd9;
   padding: 7px 20px;
   border-radius: 30px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-top: 20px;
   font-family: roboto,sans-serif;

}
/* Tabs */
.main_header .Tabs{
   display: flex;
   width: 100%;
   list-style-type:none;
}
.Tabs .Tab{
   width: 14%;
   line-height: 45px;
   margin-top: -10px;
   text-align: center;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: 0.4px;
   font-family: roboto,sans-serif;
}
.Tabs .Tab:hover{
   background-color:  #ff4500;
   color:#fff;
}

.Tabs .Tab.active{
   border-bottom: 2px solid #ff4500;
   color: #181918;
   cursor: default;
   margin-right: 5px;
}
.Tabs select{
   height: 39px;
   border: 1px solid #ececec;
   border-radius: 3px;
   outline: none;
   padding: 0px 4px;
}
.Tabs li .grid{
   font-size: 15px;
   font-weight: 500;
   border: 1px solid #b5aeae;
   border-radius: 50%;
   padding: 5px 5px;
   color: #696666;
   margin-top:8px;
   cursor:pointer;
   margin-left: 100px;
}
.Tabs li.active .grid{
   background-color: #ff4500;
   color:#fff;
   border:1px solid #ff4500;
}
/* .Tabs li .grid:hover{
   background-color: #ff4500;
   color:#fff;
   border:1px solid #ff4500;
} */
.Tabs li .list{
   font-size: 15px;
   font-weight: 500;
   border: 1px solid #b5aeae;
   border-radius: 50%;
   padding: 5px 5px;
   color: #696666;
   margin-top:8px;
   cursor:pointer;
}
.Tabs li.active .list{
   background-color: #ff4500;
   color:#fff;
   border:1px solid #ff4500;
}
.relevance_section {
   display: inline-flex;
   width: 100%;
}
.relevance_section .relevance{
   width: 65%;
   margin-top: -7px;
}
/* Job */
.job{
   border: 1px solid #d0cbcb;
   width: 100%;
   flex: 0 0 95%;
   margin-left: 30px;
   margin-bottom: 25px;
}
.job:hover{
   box-shadow: 0px 4px 6px 0px rgba(0, 11, 40, 0.1);
   cursor:pointer;
}
.header{
   width: 100%;
   display: inline-flex;
   margin-top: 10px
}
.img_section{
   width: 10%;
}
.img_section img{
   width: 50px;
   height: 50px;
   padding: 5px 5px;
   border-radius: 50%;
}
.name_section{
   width: 60%;
}
.name_section .name{
   font-size: 17px;
   font-weight: 500;
   color: #2b2929;
   margin-top: 3px;
   margin-bottom: 2px;
}
.name_section .location{
   font-size: 14px;
   font-weight: 500;
   color: #a59999;
}
.name_section .location i{
   font-size: 15px;
   font-weight: 500;
}
.price_section{
   width: 20%;
}
.price_section .Price{
   font-size: 17px;
   font-weight: 500;
   color: #2b2929;
   margin-top: 3px;
   margin-bottom: 2px;
   margin-left: 63px;
}
.price_section .button  {
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 2px 11px;
   border-radius: 40px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-bottom: 3px;
   margin-left: 53px;
   font-family: roboto, sans-serif;
}
.content_section h4{
   font-size: 15px;
   font-weight: 600;
   font-family: roboto, sans-serif;
}
.content_section p{
   font-size: 15px;
   font-weight: 500;
   color: #c3bebe;
   font-family: roboto, sans-serif;
}
.button_section{
   width:100;
}
.ux{
   margin-right: 10px;
   outline: none;
   padding: 3px 18px;
   border-radius: 15px;
   border: none;
}
.ux span{
   font-size: 13px;
   font-weight: 500;
   color: #8a8585;
}
.ux:hover{
   box-shadow: 2px 2px 4px #ababab;
}
.job_footer{
   width: 100%;
}
.job_footer .button p{
   font-size: 14px;
   font-weight: 500;
   border-right: 1px solid #ddd;
   padding: 17px 15px;
   margin-bottom: 6px;
}

/* Job */
.Job{
   border: 1px solid #d0cbcb;
   width: 100%;
   flex: 0 0 45%;
   margin-left: 30px;
   margin-bottom: 25px;
}
.Job:hover{
   box-shadow: 0px 4px 6px 0px rgba(0, 11, 40, 0.1);
   cursor:pointer;
}
.Header{
   width: 100%;
   display: inline-flex;
   margin-top: 10px
}
.Img_Section{
   width: 14%;
}
.Img_Section img{
   width: 50px;
   height: 50px;
   padding: 5px 5px;
   border-radius: 50%;
}
.Name_Section{
   width: 50%;
}
.Name_Section .Name{
   font-size: 17px;
   font-weight: 500;
   color: #2b2929;
   margin-top: 3px;
   margin-bottom: 2px;
}
.Name_Section .Location{
   font-size: 14px;
   font-weight: 500;
   color: #a59999;
}
.Name_Section .Location i{
   font-size: 15px;
   font-weight: 500;
}
.Price_Section{
   width: 35%;
}
.Price_Section .Price{
   font-size: 17px;
   font-weight: 500;
   color: #2b2929;
   margin-top: 3px;
   margin-bottom: 2px;
   margin-left: 63px;
}
.Price_Section .button  {
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 2px 11px;
   border-radius: 40px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-bottom: 3px;
   margin-left: 50px;
   font-family: roboto, sans-serif;
}
.Content_Section h4{
   font-size: 15px;
   font-weight: 600;
   font-family: roboto, sans-serif;
}
.Content_Section p{
   font-size: 15px;
   font-weight: 500;
   color: #c3bebe;
   font-family: roboto, sans-serif;
}
.Button_Section{
   width:100%;
}
.ux{
   margin-right: 10px;
   outline: none;
   padding: 3px 18px;
   border-radius: 15px;
   border: none;
   margin-bottom: 8px;
}
.ux span{
   font-size: 13px;
   font-weight: 500;
   color: #8a8585;
}
.ux:hover{
   box-shadow: 2px 2px 4px #ababab;
}
.Job_Footer{
   width: 100%;
}
.Job_Footer .button p{
   font-size: 14px;
   font-weight: 500;
   border-right: 1px solid #ddd;
   padding: 17px 15px;
   margin-bottom: 6px;
}
/* Footer */
.footer{
   width: 100%;
   height: 400px;
   border: 1px solid #242424;
   background-color: #242424;
}
.email_section{
   display: inline-flex;
   width: 100%;
   border-bottom: 1px solid #403f3f;
   padding: 15px;
}
.news{
   width: 50%;
   margin-left: 15%;
}
.news .news_heading{
   color:#9c9898;
   font-size: 17px;
   font-weight: 500;
   margin-top: 25px;
   margin-bottom: 0px;
   font-family: roboto, sans-serif;
}
.news .news_content{
   color: #9c9898;
   font-size: 16px;
   margin-bottom: 0px;
   font-family: roboto, sans-serif;
}
.email{
   width: 50%;
}
.email input{
   width: 65%;
   height: 41px;
   margin-top: 25px;
   outline: none;
   border-radius: 2px;
   border: 1px solid #fff;
   padding: 5px 20px;
   font-size: 14px;
   font-weight: 500;
   color: #6d6666;
   font-family: roboto, sans-serif;
}
.email button{
   height: 35px;
   background-color: #ff430b;
   border: 1px solid #ff430b;
   padding: 5px 10px;
   border-radius: 3px;
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-left: -81px;
   font-family: roboto, sans-serif;
   outline:none;
}
.link_section{
   width: 100%;
   display: inline-flex;
   border-bottom: 1px solid #403f3f;
   padding: 15px;
}
.about{
   width: 30%;
   margin-left: 125px;
}
.about ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.about li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.for_companies{
   width: 30%;
}
.for_companies ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.for_companies li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.for_candidates{
   width: 30%;
}
.for_candidates ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.for_candidates li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.copyright_section{
   display: inline-flex;
   width: 100%;
}
.copyright_section .copyright{
   width: 50%;
}
.copyright p{
   color: #9c9898;
   margin-top: 20px;
   margin-left: 75px;
   font-size: 13px;
   font-weight: 500;
}
.links{
   width:50%;
   margin-left: 35%;
}
.links ul{
   display: inline-flex;
   list-style-type: none;
   margin-top: 20px;
}
.links ul li{
   color: #9c9898;
   font-size: 13px;
   margin-right: 30px;
   font-family: roboto, sans-serif;
}
a{
   text-decoration: none;
   outline:none;
   color:#44474a;
}