/* Header Two */
.header_two{
   width: 100%;
   height: 45px;
   background-color: #ffffff;
   margin-top: 5px;
}
.header_two .Menu1{
   display: inline-flex;
   list-style-type: none;
   margin-left: 15%
}
.header_two .Menu_List1{
   margin-right: 35px;
   color: #464242;
   font-size: 15px;
   font-weight: 600;
   font-family: roboto, sans-serif;
}
.header_two .search i{
   margin-top:5px;
   font-size: 23px;
   font-weight: 500;
   color: #FF4500;
}
.header_two .post{
   margin-left: 30px;
}
.header_two .post button{
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 5px 15px;
   border-radius: 3px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   cursor: pointer;
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   font-family: roboto, sans-serif;
}
.header_two .post button:hover{
   box-shadow: 2px 2px 4px #c3bebe;
}
.header_two .task{
   margin-left: 20px;
}
.header_two .task button{
   background-color: #39383D;
   border: 1px solid #39383D;
   padding: 5px 15px;
   border-radius: 3px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   cursor: pointer;
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   font-family: roboto, sans-serif;
}
.header_two .task:hover{
   box-shadow: 2px 2px 4px #c3bebe;
}
/* Header Three */
.header_three{
   width:100%;
   height:50px;
   background-image: url('../../../../assets/Images/background.jpg');
   opacity: 0.8;
   display: inline-flex
}
.header_three .left_content{
   width: 50%;
}
.header_three .left_content p{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-left: 70px;
   margin-top: 16px;
}
.header_three .right_content{
   width: 50%;
}
.header_three .right_content p{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   float: right;
   margin-top: 16px;
   margin-right: 110px;
}
.header_three .right_content p span{
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-top: 16px;
}
/* Registration Details */
.Registration_Details .Profile_details h4{
   font-size: 20px;
   font-weight: 500;
}
.Registration_Details .Profile_details p{
   margin-bottom: 3px;
   font-weight: 500;
   font-size: 13px;
   color: #4a4747;
}
.Registration_Details .Profile_details img{
   width: 120px;
   height: 120px;
   border-radius: 50%;
   opacity: 0.6;
}
.form_details form label{
   font-size: 14px;
   font-weight: 500;
   color: #4e4b4b;
}
.form_details form input{
   width: 100%;
   height: 35px;
   border: 1px solid #ececec;
   border-radius: 3px;
   outline: none;
   margin-bottom: 10px;
   padding: 5px 5px;
   font-size: 14px;
   font-weight: 500;
   color: #6d6666;
}
.form_details form input::placeholder{
   font-size:13px;
   font-weight:500;
   color:#beb9b9;
}
.Registration_Button .registration_button{
   background-color: #FF4500;
   border: 1px solid #ff4500;
   padding: 9px 50px;;
   border-radius: 2px;
   font-size: 11px;
   font-weight: 700;
   color: #fff;
   outline: none;
   margin-left: 12px;
   box-shadow: 2px 2px 3px #989595;
   font-family: roboto, sans-serif;
}
.Registration_Button .sign_in{
   font-size: 15px;
   font-weight: 600;
   color: #ff4500;
   margin-left: 10px;
   font-family: roboto, sans-serif;
}
/* error */
.error{
   margin: 0px;
   font-weight: 500;
   text-align: left;
   font-size: 13px;
   word-spacing: 1px;
   letter-spacing: 0.4px;
}
.form_details .Form_Err input{
  border-color: rgb(221, 10, 10);
}
.form_details .Form_Success input{
  border-color: #4ab65f;
}
.form_details .Form_Err select{
   border-color: rgb(221, 10, 10);
}
.form_details .Form_Success select{
   border-color: #4ab65f;
}
/* .FAQ h4{
   font-size: 20px;
   font-weight: 500;
}
.FAQ .Que{
   margin-bottom: 5px;
   font-size: 15px;
   font-weight: 700;
   color: #444242;
}
.FAQ .Ans{
   margin-bottom: 5px;
   font-size: 13px;
   font-weight: 500;
   color: #6b6a6a
} */

/* Footer */
.footer{
   width: 100%;
   height: 400px;
   border: 1px solid #242424;
   background-color: #242424;
}
.email_section{
   display: inline-flex;
   width: 100%;
   border-bottom: 1px solid #403f3f;
   padding: 15px;
}
.news{
   width: 50%;
   margin-left: 15%;
}
.news .news_heading{
   color:#9c9898;
   font-size: 17px;
   font-weight: 500;
   margin-top: 25px;
   margin-bottom: 0px;
   font-family: roboto, sans-serif;
}
.news .news_content{
   color: #9c9898;
   font-size: 16px;
   margin-bottom: 0px;
   font-family: roboto, sans-serif;
}
.email{
   width: 50%;
}
.email input{
   width: 65%;
   height: 41px;
   margin-top: 25px;
   outline: none;
   border-radius: 2px;
   border: 1px solid #fff;
   padding: 5px 20px;
   font-size: 14px;
   font-weight: 500;
   color: #6d6666;
   font-family: roboto, sans-serif;
}
.email button{
   height: 35px;
   background-color: #ff430b;
   border: 1px solid #ff430b;
   padding: 5px 10px;
   border-radius: 3px;
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   margin-left: -81px;
   font-family: roboto, sans-serif;
   outline:none;
}
.link_section{
   width: 100%;
   display: inline-flex;
   border-bottom: 1px solid #403f3f;
   padding: 15px;
}
.about{
   width: 30%;
   margin-left: 125px;
}
.about ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.about li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.for_companies{
   width: 30%;
}
.for_companies ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.for_companies li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.for_candidates{
   width: 30%;
}
.for_candidates ul{
   margin-top: 60px;
   margin-bottom: 0px;
   list-style-type: none;
}
.for_candidates li{
   margin-bottom: 0px;
   color: #9c9898;
   font-size: 13px;
   font-weight: 500;
   margin-left: 10px;
}
.copyright_section{
   display: inline-flex;
   width: 100%;
}
.copyright_section .copyright{
   width: 50%;
}
.copyright p{
   color: #9c9898;
   margin-top: 20px;
   margin-left: 75px;
   font-size: 13px;
   font-weight: 500;
}
.links{
   width:50%;
   margin-left: 35%;
}
.links ul{
   display: inline-flex;
   list-style-type: none;
   margin-top: 20px;
}
.links ul li{
   color: #9c9898;
   font-size: 13px;
   margin-right: 30px;
   font-family: roboto, sans-serif;
}
a{
   text-decoration: none;
   outline:none;
}
