<app-header></app-header>
<!-- Header Two -->
<div class="header_two">
   <span style="margin-left: 6%;font-size: 20px;font-weight: 600;">Jobby</span>
   <ul class="Menu1">
      <a [routerLink]="['/landing_page']" ><li class="Menu_List1 ">Home</li></a>
      <a [routerLink]="['/Job_Search']"><li class="Menu_List1">Find Jobs</li></a>
      <!-- <li class="Menu_List1">Find Work</li> -->
      <a [routerLink]="['/Company_List']"><li class="Menu_List1 " [routerLinkActive]="'active'" >Find Companies</li></a>
      <!-- <li class="Menu_List1">Find FreeLancers</li>
      <li class="Menu_List1">pages</li> -->
      <span class="search"><i class="material-icons">search</i></span>
      <!-- <button mat-raised-button color="warn">Warn</button> -->
      <a [routerLink]="['/registration']"  ><span class="post"><button>JOB SEEKER</button></span></a>
      <a [routerLink]="['/Employer_Registration']"><span class="task"><button>EMPLOYER</button></span></a>
   </ul>
</div>
<!-- header three -->
<div class="header_three">
   <div class="left_content">
      <p>Create Profile</p>
   </div>
   <div class="right_content">
      <p><a [routerLink]="['/landing_page']" ><span>Home</span></a>/Create Profile</p>
   </div>
</div><br><br>
<div class="Registration_Details">
   <div class="container">
      <div class="row">
         <div class="col-sm-8 Profile_details">
            <h4>Create Profile</h4>
            <div style="border-bottom: 3px solid #ff4500;width:50px;text-align:center;margin-left:3%"></div><br>
            <!-- <p>Profile</p>
            <img src="../../../../assets/Images/profile.png"><br><br>
            <div>
               <button class="upload_button">Upload Profile</button>
            </div><br> -->
            <div class="form_details">
               <form [formGroup]="Form">
                  <div class="row">
                     <div class="col-sm-12" [ngClass]="{'Form_Err': !Form.controls['Name'].pristine && Form.controls['Name'].errors, 'Form_Success': Form.controls['Name'].valid && !Form.controls['Name'].pristine }">
                        <label>Name</label><br>
                        <input type="text" formControlName="Name" placeholder="Your Name"><br>
                        <p class="error" style="color: rgb(221, 10, 10);margin-left:15px;margin-bottom: 20px" *ngIf="Form.controls['Name'].errors && !Form.controls['Name'].pristine">
                           <span *ngIf="Form.controls['Name'].errors.required">Name is required</span>
                        </p>  
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6" [ngClass]="{'Form_Err': !Form.controls['Email'].pristine && Form.controls['Email'].errors, 'Form_Success': Form.controls['Email'].valid && !Form.controls['Email'].pristine }">
                        <label>Email</label><br>
                        <input type="text" formControlName="Email" placeholder="Enter Your Email Address">
                        <p class="error" style="color: rgb(221, 10, 10);;margin-left:15px;margin-bottom: 20px" *ngIf="Form.controls['Email'].errors && !Form.controls['Email'].pristine">
                           <span *ngIf="Form.controls['Email'].errors.required">Email is required</span>
                        </p>  
                     </div>
                     <div class="col-sm-6" [ngClass]="{'Form_Err': !Form.controls['Location'].pristine && Form.controls['Location'].errors, 'Form_Success': Form.controls['Location'].valid && !Form.controls['Location'].pristine }">
                        <label>Location</label><br>
                        <input type="text" formControlName="Location" placeholder="Enter Your Location"><br>
                        <p class="error" style="color: rgb(221, 10, 10);;margin-left:15px;margin-bottom: 20px" *ngIf="Form.controls['Location'].errors && !Form.controls['Location'].pristine">
                           <span *ngIf="Form.controls['Location'].errors.required">Location is required</span>
                        </p>  
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6" [ngClass]="{'Form_Err': !Form.controls['Phone_No'].pristine && Form.controls['Phone_No'].errors, 'Form_Success': Form.controls['Phone_No'].valid && !Form.controls['Phone_No'].pristine }">
                        <label>Phone No</label><br>
                        <input type="text" formControlName="Phone_No" placeholder="Enter Your Number"><br>
                        <p class="error" style="color: rgb(221, 10, 10);;margin-left:15px;margin-bottom: 20px" *ngIf="Form.controls['Phone_No'].errors && !Form.controls['Phone_No'].pristine">
                           <span *ngIf="Form.controls['Phone_No'].errors.required">Phone No is required</span>
                        </p>  
                     </div>
                     <div class="col-sm-6" [ngClass]="{'Form_Err': !Form.controls['Password'].pristine && Form.controls['Password'].errors, 'Form_Success': Form.controls['Password'].valid && !Form.controls['Password'].pristine }">
                        <label>Password</label><br>
                        <input type="password" formControlName="Password" placeholder="Enter Your Password"><br>
                        <p class="error" style="color: rgb(221, 10, 10);;margin-left:15px;margin-bottom: 20px" *ngIf="Form.controls['Password'].errors && !Form.controls['Password'].pristine">
                           <span *ngIf="Form.controls['Password'].errors.required">Password is required</span>
                        </p>  
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-6" [ngClass]="{'Form_Err': !Form.controls['Confirm_Password'].pristine && Form.controls['Confirm_Password'].errors, 'Form_Success': Form.controls['Confirm_Password'].valid && !Form.controls['Confirm_Password'].pristine }">
                        <label> Confirm Password</label><br>
                        <input type="password" formControlName="Confirm_Password" placeholder="Confirm Your Password"><br>
                        <p class="error" style="color: rgb(221, 10, 10);;margin-left:15px;margin-bottom: 20px" *ngIf="Form.controls['Confirm_Password'].errors && !Form.controls['Confirm_Password'].pristine">
                           <span *ngIf="Form.controls['Confirm_Password'].errors.required">Confirm Password is required</span>
                        </p>  
                     </div>
                  </div>
               </form>
            </div><br>
            <div class="Registration_Button">
               <button class="registration_button" [routerLink]="['/job_seeker_registration']">SUBMIT</button><span style="font-size: 15px;font-weight: 600;color: #716f6e;margin-left: 15px;">Already Registered?</span><a [routerLink]="['/Job_Seeker_sign_In']"  ><span class="sign_in">sign in</span></a>
            </div><br><br>
         </div>
         <!-- <div class="col-sm-4 FAQ">
            <h4>FAQ</h4><br>
            <P CLASS="Que">01.Lorem ipsum dolor sit amet consectetur adipisicing elit?</P>
            <p class="Ans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ea quaerat expedita nemo fugit? Adipisci fuga, soluta eveniet debitis rerum atque facere, maiores numquam quidem eius quae vel provident? Porro.</p><br>
            <P CLASS="Que">02.Lorem ipsum dolor sit amet consectetur adipisicing elit?</P>
            <p class="Ans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ea quaerat expedita nemo fugit? Adipisci fuga, soluta eveniet debitis rerum atque facere, maiores numquam quidem eius quae vel provident? Porro.</p><br>
         </div> -->
      </div>
   </div>
</div>
<!-- Footer -->
<div class="footer">
   <div class="email_section">
      <div class="news">
         <p class="news_heading">Subscribe To News Letter</p>
         <p class="news_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="email">
         <input type="text" placeholder="Your Email Address">
         <span><button>Subscribe</button></span>
      </div>
   </div>
   <div class="link_section">
      <span class="about">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">About Us</li><br>
            <li>Login</li>
            <li>My Account</li>
            <li>Contact</li>
            <li>Privacy Policy</li>
            <li>Terms Of Use</li>
         </ul>
      </span>
      <span class="for_companies">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">For Companies</li><br>
            <li>Browse Freelancers</li>
            <li>Post a Job</li>
            <li>Post a Project</li>
            <li>Pricing Plans</li>
         </ul>
      </span>
      <span class="for_candidates">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">For Candidates</li><br>
            <li>Browse Jobs</li>
            <li>Jobs Alerts</li>
            <li>Applied Jobs</li>
            <li>Bookmarks</li>
         </ul>
      </span>
   </div>
   <div class="copyright_section">
      <div class="copyright">
         <p>@ copyright 2018 Jobby by aashi.All Rights Reserved.</p>
      </div>
      <div class="links">
         <ul>
            <li>EN</li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
         </ul>
      </div>
   </div>
</div>

