<!-- Header Section -->
<div class="Header_Section">
   <!-- Header One -->
   <div class="header_one">
      <ul class="Menu">
         <li class="Menu_List">Welcome to Jobby</li>
         <li class="Menu_List">EN</li>
      </ul>
      <span class="Profile">John Doe</span>
      <span class="img_section"><img src="../../../../assets/Images/employee.jpg"></span>
      <span class="Profile"><i class="material-icons mail">mail</i></span>
      <span class="Profile"><i class="material-icons notifications">notifications</i></span>
   </div>
</div>
