<app-header></app-header>
<!-- Header Two -->
<div class="header_two">
   <span style="margin-left: 6%;font-size: 20px;font-weight: 600;">Jobby</span>
   <ul class="Menu1">
      <a [routerLink]="['/landing_page']" ><li class="Menu_List1 ">Home</li></a>
      <a [routerLink]="['/Job_Search']" ><li class="Menu_List1">Find Jobs</li></a>
      <!-- <li class="Menu_List1">Find Work</li> -->
      <a [routerLink]="['/Company_Profile']"><li class="Menu_List1 ">Find Companies</li></a>
      <!-- <li class="Menu_List1">Find FreeLancers</li>
      <li class="Menu_List1">pages</li> -->
      <span class="search"><i class="material-icons">search</i></span>
      <!-- <button mat-raised-button color="warn">Warn</button> -->
      <!-- <a [routerLink]="['/registration']"  ><span class="post"><button>JOB SEEKER</button></span></a>
      <a [routerLink]="['/Employer_Registration']"><span class="task"><button>EMPLOYER</button></span></a> -->
   </ul>
</div>
<div class="header_three">
   <div class="left_content">
      <p>Post a Job</p>
   </div>
   <div class="right_content">
      <p><a [routerLink]="['/landing_page']"><span>Home</span></a>/Post a Job</p>
   </div>
</div><br><br>
<div class="Registration_Details">
   <div class="container">
      <div class="row">
         <div class="col-sm-8 Profile_details">
            <h4>Post A Job</h4>
            <div style="border-bottom: 3px solid #ff4500;width:50px;text-align:center;margin-left:3%"></div><br><br>
            <div class="form_details">
               <form>
                  <label>Job Name</label><br>
                  <input type="text" placeholder="Job Name Here"><br> 
                  <label>Job Description</label><br>
                  <textarea rows="5" cols="30" placeholder="Type Description"></textarea><br>
                  <p class="Requirements">WHAT ARE THE JOB REQUIREMENTS</p>
                  <div class="row">
                     <div class="col-sm-6 form_fields">
                        <label>Job Type</label><br>
                       <select>
                          <option>Select an Type</option>
                          <option>Type-1</option>
                          <option>Type-2</option>
                          <option>Type-3</option>
                       </select>
                     </div>
                     <div class="col-sm-6 form_fields">
                        <label>Category</label><br>
                        <select>
                           <option>Select an Category</option>
                           <option>Category-1</option>
                           <option>Category-2</option>
                           <option>Category-3</option>
                        </select>
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col-sm-6">
                        <label> Availability</label><br>
                        <select>
                           <option>I am not sure</option>
                           <option>Category-1</option>
                           <option>Category-2</option>
                           <option>Category-3</option>
                        </select>
                     </div>
                     <div class="col-sm-6">
                        <label> Experience Level</label><br>
                        <select>
                           <option>Select one and more Experience level</option>
                           <option>Category-1</option>
                           <option>Category-2</option>
                           <option>Category-3</option>
                        </select>
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col-sm-6">
                        <label> Salary</label><br>
                        <input type="text" placeholder="Min"><br> 
                     </div>
                     <div class="col-sm-6">
                           <label></label><br>
                        <input type="text" placeholder="Max"><br> 
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col-sm-6">
                        <label> Location</label><br>
                        <input type="text" placeholder="Location"><br> 
                     </div>
                     <div class="col-sm-6">
                        <label> Languages</label><br>
                        <select>
                           <option>Select Language</option>
                           <option>Tamil</option>
                           <option>English</option>
                        </select>
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col-sm-12">
                        <label> Skills</label><br>
                        <input type="text" placeholder="Select the skills needed for the job"><br> 
                     </div>
                  </div><br>
                  <div class="row">
                     <div class="col-sm-6 Upload_Files">
                        <label> Upload Files</label><br>
                        <button class="upload_files">UPLOAD FILES</button><span>No File Choosen</span>
                        <p style="font-size: 13px;font-weight: 500;color: #a5a0a0;margin-top: 6px;">Images, Pdf and MS word Files</p>
                     </div>
                  </div><br>
               </form>
            </div>
            <div class="Job_Post">
               <a [routerLink]="['/Job_View']"><button class="job_post">POST A JOB</button></a>
            </div><br><br>
         </div>
         <div class="col-sm-4 FAQ">
            <h4>FAQ</h4><br>
            <P CLASS="Que">01.Lorem ipsum dolor sit amet consectetur adipisicing elit?</P>
            <p class="Ans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ea quaerat expedita nemo fugit? Adipisci fuga, soluta eveniet debitis rerum atque facere, maiores numquam quidem eius quae vel provident? Porro.</p><br>
            <P CLASS="Que">02.Lorem ipsum dolor sit amet consectetur adipisicing elit?</P>
            <p class="Ans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ea quaerat expedita nemo fugit? Adipisci fuga, soluta eveniet debitis rerum atque facere, maiores numquam quidem eius quae vel provident? Porro.</p><br>
         </div>
      </div>
   </div>
</div>
<div class="footer">
   <div class="email_section">
      <div class="news">
         <p class="news_heading">Subscribe To News Letter</p>
         <p class="news_content">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="email">
         <input type="text" placeholder="Your Email Address">
         <span><button>Subscribe</button></span>
      </div>
   </div>
   <div class="link_section">
      <span class="company">
         <h2 style="color:#fff;font-size:16px;font-weight:500;margin-left: 120px; margin-top: 60px;">Jobby</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </span>
      <span class="about">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">About Us</li><br>
            <li>Login</li>
            <li>My Account</li>
            <li>Contact</li>
            <li>Privacy Policy</li>
            <li>Terms Of Use</li>
         </ul>
      </span>
      <span class="for_companies">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">For Companies</li><br>
            <li>Browse Freelancers</li>
            <li>Post a Job</li>
            <li>Post a Project</li>
            <li>Pricing Plans</li>
         </ul>
      </span>
      <span class="for_candidates">
         <ul>
            <li style="color:#fff;font-size:16px;font-weight:500;">For Candidates</li><br>
            <li>Browse Jobs</li>
            <li>Jobs Alerts</li>
            <li>Applied Jobs</li>
            <li>Bookmarks</li>
         </ul>
      </span>
   </div>
   <div class="copyright_section">
      <div class="copyright">
         <p>@ copyright 2018 Jobby by aashi.All Rights Reserved.</p>
      </div>
      <div class="links">
         <ul>
            <li>EN</li>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
         </ul>
      </div>
   </div>
</div>


